[submodule "external/Drug-The-Whole-Genome"]
	path = external/Drug-The-Whole-Genome
	url = git@github.com:m-baralt/Drug-The-Whole-Genome.git
[submodule "external/grover"]
	path = external/grover
	url = https://github.com/m-baralt/grover.git
