# Ignore data folder
data/*

# Ignore submodule data folder
external/Drug-the-Whole-Genome/data/*

# Ignore submodule wandb
external/grover/wandb/

# Ignore test folders
test/*
nvmolkit_testing/*
results_test/*

# Ignore drugclip results for experiments
threshold_experiments/normalizing_litpcba/*
threshold_experiments/normalizing/*

# Ignore solubility data
solubility_prediction/data/*

# Ignore ipynb_checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/

# Ignore results
result.txt

# Ignore error experiments in solubility
solubility_prediction/

# Ignore log files
*.log

# Ignore images
*.jpg

# Ignore data
*.csv
*.pt

# Ignore models weights
model/*
model_features_nopretrain/*
model_features_pretrain/*
model_features_scaffold/*
model_features_test/*
model_nofeatures/*
model_nofeatures_701515/*
model_nofeatures_category/*
model_nofeatures_category_dropout01/*
model_nofeatures_multiclass/*
model_nofeatures_nopretrain/*
model_scaffold/*
