# Ignore submodule weights
external/Drug-the-Whole-Genome/data/*

# Ignore test folder
test/*

# Ignore ipynb_checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/
